/*@font-face {
    font-family: quote;
    src: url(../fonts/Billy_Ohio.ttf);
}
@font-face {
    font-family: normal_text;
    src: url(../fonts/timeburnernormal.ttf);
}
@font-face {
    font-family: bold_text;
    src: url(../fonts/timeburnerbold.ttf);
}
body, h1, h2, h3, h4, h5, h6 {
    font-family:normal_text;
}

.navbar-brand{
    font-family: brand_text !important;
}
*/


#edit_tour_dates input{
    width:  initial !important;
}