
* {box-sizing: border-box}
/* Full-width input fields */
#id02 input[type=text], #id02 input[type=password], #id02 input[type=email] {
    width: 100%;

  

    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
#id02 input[type=text]:focus, #id02 input[type=password]:focus, #id02 input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
#id02 button {
    background-color: #75c2f4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

#id02 button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
#id02 .cancelbtn {
  
    background-color: #c6c6c6;
}

/* Float cancel and signup buttons and add an equal width */
#id02 .cancelbtn, #id02 .signupbtn {
  float: left;
  width: 50%;
}



/* Modal Content/Box */
#id02 .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
#id01 hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
 
/* The Close Button (x) */
#id02 .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

#id02 .close:hover,
#id02 .close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
#id02 .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    #id02 .cancelbtn, #id02 .signupbtn {
       width: 100%;
    }
}
 
#id02 .container{
	 max-width: 100%;
	color: #6c6d70;
	text-align: left;
	font-size: 1.2em;
}
#id02 .input-group-addon:first-child {
     border-right: 1px solid #ccc;
}

#id02 .bootstrap-iso form button, #id02 .bootstrap-iso form button:hover{
	color: white !important;
	} 
#id02 .asteriskField{
		color: red;
		}
